@font-face {
	font-family: "Ubuntu";
	src: url("/fonts/Ubuntu/Ubuntu-Regular.ttf");
	font-weight: normal;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/fonts/Ubuntu/Ubuntu-Bold.ttf");
	font-weight: bold;
}

@font-face {
	font-family: "Ubuntu";
	src: url("/fonts/Ubuntu/Ubuntu-Italic.ttf");
	font-style: italic;
}

@font-face {
	font-family: "Ubuntu";
	src: local("Ubuntu"),
		url("/fonts/Ubuntu/Ubuntu-BoldItalic.ttf");
	font-weight: bold;
	font-style: italic;
}

:root {
	--text: #ffffff;
	--text-soft: #ddd;
	--background: #121212;
	--primary: #2df598;
	--primary-soft: #22cf7e;
	--secondary: #222021;
	--accent: #8b8484;

	--standard-box-shadow: 0 0 182px 0px rgba(255, 255, 255, 0.2);
}

* {
	box-sizing: border-box;
}

body {
	padding: 0;
	margin: 0;
	min-height: 100vh;
	background-color: var(--background);
	color: var(--text);
	font-family: "Ubuntu", sans-serif;
	font-size: 1.4rem;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	gap: 2rem;
}

a {
	text-decoration: none;
	color: var(--primary);
}

h1 {
	text-align: center;
}
strong,
b {
	font-weight: 700;
}

a.more {
	display: block;
	margin-top: 2em;
	font-weight: bold;
}

.indent {
	margin-left: 2em;
}

i {
	font-size: 2rem;
	color: #ffffff;
	margin: 0 0.5rem;
}

main {
	position: relative;
	width: 60vw;
}

footer {
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	text-align: center;
}

.side-scroller {
	display: flex;
	flex-direction: column;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.side-scroller .content {
	margin: 8px;
}

pre {
	background-color: #0000008a;
	border-radius: 4px;
	padding: 2%;
	font-size: 0.9rem;
	color: #ddd;
	overflow: auto;
}

strong {
	font-weight: bold;
}

p, ul {
	line-height: 1.5;
	margin: 0;
}

p + p {
	margin-top: 1em;
}

p + ul, p + ol {
	margin-top: 0.4em;
}

code {
	font-size: 1.2rem;
	color: var(--accent);
}

.wink::after {
	content: "ಠ_ಠ";
	font-family: "Ubuntu";
}

.wink:hover::after {
	content: "ಠ‿↼";
	font-family: "Ubuntu";
}

textarea {
	width: 100%;
	font-size: 16px;
}

input {
	font-size: 16px;
}

table {
	width: 100%;
}

main img {
	display: block;
	background-color: var(--text);
	color: var(--background);
	text-align: center;
	width: 100%;
	height: auto;
	border-radius: 8px;
}

code {
	padding: 2px 5px;
	background-color: rgb(var(--gray-light));
	border-radius: 2px;
}

pre {
	padding: 1.5em;
	border-radius: 8px;
}

pre > code {
	all: unset;
}

blockquote {
	border-left: 4px solid var(--accent);
	padding: 0 0 0 20px;
	margin: 0px;
	font-size: 1.333em;
}

hr {
	border: none;
	border-top: 1px solid var(--primary);
	width: 100%;
}

@media screen and (max-width: 720px) {
	body {
		font-size: 18px;
	}
	main {
		width: 100vw;
		padding: 1em;
	}

	header .logo {
		display: none;
	}
}

.sr-only {
	border: 0;
	padding: 0;
	margin: 0;
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	/* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
	clip: rect(1px 1px 1px 1px);
	/* maybe deprecated but we need to support legacy browsers */
	clip: rect(1px, 1px, 1px, 1px);
	/* modern browsers, clip-path works inwards from each corner */
	clip-path: inset(50%);
	/* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
	white-space: nowrap;
}
