---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="500 - Internal Server Error" description="Something didn't go according to plan" />
	</head>
	<body>
		<Header />
		<main>
			<h1>500 - Internal Server Error</h1>
		</main>
		<Footer />
    </body>
</html>