---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Main from "../components/Main.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Main>
		  <h1>Anton</h1>
		  <div style="max-width: 40rem">
		    <p>
        I am currently getting my masters in Computer Science. On the side I am also engaged in the student representation, while simultaneously being employed as one of their designated IT guys. Some of my work, can be found on the <a href="/projects">projects page</a>. Maybe some essays about current topics of digital transformation and AI in teaching will find their way on this website as well.
        </p>
        <p>
        On another front, I am passionate about photography! Not much compares to strolling around taking photos while listening to music 😌
        <br />
        Some of my photography shall also find its way onto this website; One less reason to be on <a href="https://instagram.com/kindpanto" target="_blank">instagram</a>!
        </p>
		    <p style="float: right; text-align: end;">Kind regards,<br>Anton</p>
      </div>
		</Main>
		<Footer />
	</body>

	<style>
  </style>

</html>
